# Python cached objects.
__pycache__/
.mypy_cache/

# Distribution.
*.egg
*.egg-info/
build/
dist/

# Environment.
.env

# Logs.
*.log
logs/

# Tests.
.coverage
.coverage.*

# User settings.
.vscode/
